@import url('https://fonts.googleapis.com/css2?family=Commissioner:wght@400;500;700&display=swap');                                                                      

:root {
                      
  --moderate-cyan: hsl(176, 50%, 47%);
  --dark-cyan: hsl(176, 72%, 28%);
  --black: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 48%);

                  
  --font-family: 'Commissioner', sans-serif;
  --font-size: 16px;
  --font-weight-regular: 400;
  --font-weight-medium: 500;
  --font-weight-bold: 700;
  }
  
  
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body {
    font-family: var(--font-family);
    background: #f0f0f0;
}
 
 
  img {
      max-width: 100%;
  }
  
  button {
      border: none;
      cursor: pointer;
  }
  
  ul{
      list-style: none;
  }
  
  header {
      display: flex;
      position: fixed;
      top: 0;
      justify-content: space-between;
      width: 100%;
      padding: 1rem 1rem;
      z-index: 100;
      width: 100%;
      max-width: 1440px;
      left: 50%;
      transform: translateX(-50%);
      transition: background-color 0.3s ease;
  }
  
  header ul {
      position: absolute;
      bottom: 0;
      transform: translateY(100%);
      background: white;
      left: 0;
      width: calc(100% - 2rem);
      margin: 0 1rem;
      border-radius: 8px;
      font-weight: var(--font-weight-bold);
      display: none;
      filter: drop-shadow(2px 3px 3px #525252);
  }
  
  header ul li {
      padding: 1.5rem 1rem;
      color: var(--black);
  }
  
  header ul li:nth-child(2) {
      border-block: 1px solid var(--dark-gray)
  }
  
  ul li a {
      text-decoration: none;
      color: var(--black);
      font-size: 1.2rem;
      cursor: pointer;
  }
  
  .hero-section {
      max-width: 1440px;
      margin: 0 auto;
  }
  
  #close_btn {
      display: none;
      cursor: pointer;
  }
  
  p {
      color: var(--dark-gray);
      line-height: 1.5rem;
  }
  
  section {
      padding: 1rem;
  }
  
  .back_project_card {
      text-align: center;
      padding: 0rem 1rem 2rem;
      background: white;
      border-radius: 8px;
  }
  
  .back_project_card p {
      margin-block: 1.5rem;
  }
  
   .mastercraft_logo_div {
       position: relative;
       transform: translateY(-50%);
  }
  
  .bookmark_btn {
      background: none;
      
  }
  
  .bookmark_btn svg {
      width: 3.5rem;
      
  }
  
  .bookmark_btn:hover svg circle{
      fill: var(--dark-cyan);
  }
  
  .bookmark_btn:hover svg path{
      fill: white;
  }
  
  .bookmark_btn:hover .bookmark-text {
      background: hsla(176, 50%, 47%, 0.2);
      color: var(--dark-cyan);
      font-weight: bold;
  }
  
  .bookmark-text {
      display: none;
  }
  
  .back_project_btn {
      background: var(--moderate-cyan);
      color: white;
      font-size: 1rem;
      border-radius: 100vw;
      flex: 1;
      max-width: 250px;
      font-family: inherit;
      
  }
  
  .back_project_btn:hover {
      background: var(--dark-cyan);
      }
  
  .btns_container {
      display: flex;
      gap: 1rem;
      justify-content: space-between;
  }
  
  .main-section {
      position: relative;
      transform: translateY(-5%);
      display: flex;
      flex-direction: column;
      gap: 1.5rem;
      max-width: 600px;
      margin: 0 auto;
  }
  
  .stats-card {
      background: white;
      border-radius: 8px;
      text-align: center;
      padding: 1.5rem 1rem;
  }
  
  .stats-container {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      align-items: center;
  }
  
  .stats-container li {
      position: relative;
      width: fit-content;
  }
  
  h3 {
      font-size: 2.5rem;
      color: var(--black);
  }
  
  .stats-container li:nth-child(2) {
      padding: 1rem;
  }
  
  .stats-container li:nth-child(2):after {
      content: '';
      position: absolute;
      width: 100%;
      top: 0;
      left: 0;
      border: 1px solid var(--dark-gray);
  }
  
  .stats-container li:nth-child(2):before {
      content: '';
      position: absolute;
      width: 100%;
      bottom: 0;
      left: 0;
      border: 1px solid var(--dark-gray);
  }
  
  .loading-container {
      height: 1rem;
      border-radius: 100vw;
      overflow: hidden;
      width: 100%;
      margin-top: 2rem;
  }
  
  #loader {
      background: var(--moderate-cyan);
      border-radius: 100vw;
      height: 100%;
      width: 50%;
  }
  
  .about_article {
      background: white;
      border-radius: 8px;
      padding: 2rem 1rem;
  }
  
  
  
  h4 {
      font-size: 1.5rem;
      margin-bottom: 2rem;
  }
  
  .second_para {
      margin-block: 1rem;
  }
  
  .pledges {
      display: flex;
      flex-direction: column;
      gap: 1rem;
  }
  
  .pledge {
      border: 1px solid var(--dark-gray);
      padding: 2rem 1rem;
      border-radius: 8px;
      display: flex;
      flex-direction: column;
      gap: 2rem;
  }
  
  .pledge_amount {
      color: var(--moderate-cyan);
  }
  
  .pledge-stat {
      display: flex;
      align-items: center;
      gap: 3px;
  }
  
  h5 {
      font-size: 1em;
      margin-bottom: 0.5rem;
  }
  
  h5:hover {
      color: var(--moderate-cyan);
  }
  
  
  .pledge button {
      background: var(--moderate-cyan);
      border-radius: 100vw;
      width: fit-content;
      padding: 1rem 2rem;
      color: white;
      font-family: inherit;
      font-weight: var(--font-weight-medium);
  }
  
  .project_backing_section {
      background: white;
      padding: 2rem 1rem;
      border-radius: 8px;
      position: fixed;
      overflow-y: auto;
      z-index: 999;
      top: 5rem;
      left: 50%;
      transform: translateX(-50%);      
      width: 90%;
      max-height: 90vh;
      display: none;
      max-width: 600px;
  }
  
  
  
  .back_project_header {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 1rem;
  }
  
  .back_project_header button {
      background: none;
  }
  
  .project_backing_section article {
      display: flex;
      flex-direction: column;
      gap: 1rem;
      margin-top: 1rem;
      border: 1px solid var(--dark-gray);
      border-radius: 8px;
      padding: 1.5rem 1rem;
  }
  
  h6 {
      font-size: 1.3rem;
  }
  
  .select_pledge_container {
      display: flex;
      gap: 1rem;
      align-items: center;
      
  }
  
  .fill_pledge_container {
      position: relative;
      text-align: center;
      display: none;
  }
  
  .fill_pledge_container::before {
      content: '';
      position: absolute;
      top: 0;
      width: 100%;
      border-top: 1px solid var(--dark-gray);
      height: 2px;
      left: 0;
  }
  
   .enter-pledge-wrapper {
       margin-block: 0rem;
   }
  
  .fill_pledge_container_input {
      display: flex;
      align-items: center;
      gap: 1rem;
      justify-content: center;
  }
  
  .fill_pledge_container_input input {
      border-radius: 100vw;
      outline: none;
      border: 1px solid var(--dark-gray);
      width: 100%;
      height: 100%;
      padding: 1rem 1rem 1rem 2rem;
      font-weight: 500;
      font-family: inherit;
      cursor: pointer;
  }
  
  .fill_pledge_container_input input:hover, .fill_pledge_container_input input:valid {
      border: 1px solid var(--moderate-cyan);
  }
  
  .fill_pledge_container_input button {
      background: var(--moderate-cyan);
      padding: 1rem 2rem;
      border-radius: 100vw;
      color: white;
      font-family: inherit;
      font-weight: var(--font-weight-medium);
  }
  
  .fill_pledge_container_input button:hover {
      background: var(--dark-cyan);
  }
  
  .fill_pledge_container_input_wrapper {
      position: relative;
      width: 35%;
  }
  
  .dollar {
      position: absolute;
      left: 1rem;
      top: 50%;
      transform: translateY(-55%);
  }
  
  input[type="radio"] {
      display: none;
      cursor: pointer;
  }
  
  
  .custom-radio {
      height: 12px;
      width: 12px;
      border-radius: 100%;
      cursor: pointer;
      position: relative;
  }
  
  .custom-radio::after {
      content: '';
      position: absolute;
      height: 20px;
      width: 20px;
      border-radius: 100%;
      border: 1px solid var(--dark-gray);
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
  }
  
  input[type="radio"]:checked + .custom-radio {
      background-color: var(--moderate-cyan);
  }
  
  
  .thanks_modal {
      background: white;
      border-radius: 8px;
      text-align: center;
      padding: 2rem 1rem;
      width: 90%;
  }
  
  .thanks_modal svg {
      margin-bottom: 1.5rem;
  }
  
  .thanks_modal p {
      margin-block: 1.5rem;
  }
  
  #got_it_btn {
      background: var(--moderate-cyan);
      padding: 1rem 2rem;
      border-radius: 100vw;
      color: white;
      font-family: inherit;
      font-weight: var(--font-weight-medium);
  }
  
  #got_it_btn:hover {
      background: var(--dark-cyan);
  }
  
  .thanks_modal {
      display: none;
      position: fixed;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      z-index: 750;
      max-width: 400px;
  }
  
  .error {
      border: red;
  }
  
  .error-text {
      color: red;
      display: none;
  }
  
  .cover {
      position: fixed;
      background: #000000;
      opacity: 0.5;
      inset:0;
      z-index: 700;
      display: none;
  }
  
  .fill-pledge-active {
      display: block;
  }


@media(min-width: 1000px){
    header {
        padding: 2rem 2rem;
        align-items: center;
    }
    
    header ul {
      position: relative;
      bottom: 0;
      transform: translateY(0%);
      background: transparent;
      left: 0;
      width: calc(100% - 2rem);
      margin: 0 1rem;
      border-radius: 0px;
      display: block;
      filter: drop-shadow(2px 3px 3px transparent);
      display: flex;
      align-items: center;
      gap: 1rem;
  }
  
  header ul li {
      padding: 0rem 0rem;
      color: white;
  }
  
  ul li a {
      color: white;
  }
  
  header ul li:nth-child(2) {
      border-block: 0px solid var(--dark-gray)
  }
  
  #hamburger_btn {
      display: none;
  }
  
  .stats-container li:nth-child(2) {
      padding: 0 3rem;
      
  }
  
  .stats-container li:nth-child(2):after {
      content: '';
      position: absolute;
      width: 0%;
      height: 60%;
      top: 50%;
      transform: translateY(-50%);
      right: 0;
      left: auto;
      border: 1px solid var(--dark-gray);
  }
  
  .stats-container li:nth-child(2):before {
      content: '';
      position: absolute;
      height: 60%;
      width: 0%;
      top: 50%;
      transform: translateY(-50%);
      left: 0%;
      border: 1px solid var(--dark-gray);
  }
  
  .stats-card {
      padding: 2rem 2rem;
  }
  
  .stats-container {
      flex-direction: row;
      gap: 3rem;
      align-items: center;
      justify-content: flex-start;
      text-align: left;
  }
  
  .stats-container li {
      position: relative;
      width: fit-content;
  }
  
  .select-pledge-flex {
      display: flex;
      justify-content: space-between;
      align-items: center;
  }
  
  h5 {
      margin-bottom: 0;
  }
  
  
  .project_backing_section article {
      position: relative;
      padding: 1.5rem 1rem 0;
      
  }
  
.project_backing_section article .pledge-stat {
      position: absolute;
      right: 1rem;
      top: 2rem;
  }
  
  .fill_pledge_container {
      display: none;
      justify-content: space-between;
      align-items: center;
      margin-right: 0rem;
  }
  
  .enter-pledge-wrapper {
       margin-block: 2.5rem;
   }
  
  .fill_pledge_container_input {
      justify-content: flex-end;
  }   
  
  
  .fill-pledge-active {
      display: flex;
  }
  
  .pledge_amount_flex {
      display: flex;
      align-items: center;
      gap: 1rem;
  }
  
  .bookmark_btn {
      display: flex;
      align-items: center;
      
  }
  
  .bookmark_btn svg {
      z-index: 80;
      margin-right: -20%;
  }
  
  .bookmark-text{
      height: 100%;
      background: #e9e9e9;
      border-radius: 100vw;
      padding: 0 3rem 0 4rem;
      display: grid;
      place-items: center;
      z-index: 10;
  }
  
  .bookmark_btn.active svg circle{
      fill: var(--dark-cyan);
  }
  
  .bookmark_btn.active svg path{
      fill: white;
  }
  
  .bookmark_btn.active .bookmark-text {
      background: hsla(176, 50%, 47%, 0.2);
      color: var(--dark-cyan);
      font-weight: bold;
  }
  
}
